.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    left: 0px;
    top: 0px;
}

.sub-title {
    margin: 3% 5% 2.5%;
}

.sub-title-font {
    font-size: 16px;
    opacity: 0.75;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.list-item-group {
    margin: 0% 5% 2.5%;
    border: 1px solid gainsboro;
}
